@charset "utf-8";

/*共通部分------------------------------*/

html{font-size: 100%;}
body{
    font-family: "Shree Devanagari 714";
    line-height:1.7;
    coler:#000000
}
a{text-decoration: none;}
img{max-width: 100%;}

/*共通部分------------------------------*/

/*メニュー------------------------------*/

.about  {
   font-size: 45px;
   margin-top: 14px;
}


.main-nav{
    display: flex;
    font-size: 1.35rem;
    list-style: none;
    justify-content: space-between;
    width: 100px;
    margin-top: 35px;
}

.main-nav a{
     color: #666666;
    margin-right: 40px;
}

.main-nav a:hover{
    color: #000;
}


.wrapper {
    max-width: 1000px;
    margin:0 auto;
    padding:0 4%;
    display: flex;
    justify-content:space-between;
    margin-left: 30px;
}

.borderline{
    border-bottom: 2px solid #666666;
    width: 1300px;
    margin-left: 50px;
}

/*メニュー------------------------------*/

/*content1------------------------------*/

.content1 p2{
    font-size: 15px;
    padding-left: 20px;
    padding-top: 20px;
    
}

.borderline-left{
border-left: 2px solid #666666;
height: 200px;
margin-top:80px;
margin-left: 350px;
}

/*content1------------------------------*/
/*content2------------------------------*/

.sayaphoto{
    width: 200px;
}

.content22{
    display: flex;
    margin-left: 355px;
    margin-top:90px;
    
}

.content2{
    padding: 20px;
}

/*content2------------------------------*/

/*フッター------------------------------*/
.footer{
    background: #666666;
    text-align: center;
    padding: 26px 0;
}

.footer p{
    color: #666666;
    font-size: 0.875rem;
}


/*フッター------------------------------*/